.card {
  margin: 5px 0;
  border: 2px solid black;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 10px;
}

.card-footer {
  display: flex;
  flex-direction: column;
}

.bookmark-btn {
  margin: 10px 0;
  width: fit-content;
}
