<!-- <header>
  <nav class="nav-menu">
    <section class="logo" [routerLink]="['/']">
      <span class="logo-text">Image Finder</span>
    </section>

    <section class="menu-container">
      <ul class="menu">
        <li class="menu-item">
          <a routerLink="/"> Home </a>
        </li>
        <li class="menu-item">
          <a routerLink="/bookmarks"> Bookmarks </a>
        </li>
      </ul>
    </section>
  </nav>
</header> -->

<div class="header">
  <div class="header-container">
    <h1>
      <a class="title" routerLink="/">Image Finder</a>
    </h1>
    <img class="icon" src="assets/icons/user.png" alt="user-icon">
  </div>
</div>
