h1 {
  margin: 0;
}

.header {
  background-color: azure;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.title {
  text-decoration: none;
  cursor: pointer;
  color: #0082ca;
}
