<div class="content">
  <app-menu></app-menu>
  <div class="search">
    <h2 class="home-title">
      Find your images!
    </h2>
    <mat-form-field class="search-input">
      <input
        matInput
        type="text"
        placeholder="Search images"
        [(ngModel)]="text"
        (keyup.enter)="search(text)"
        (blur)="search(text)"
      />
    </mat-form-field>
    <div
      *ngIf="images.length>0; else empty"
    >
      <mat-paginator
        [length]="images.length"
        [pageSize]=12
        [pageSizeOptions]="[12, 24, 48]"
        (page)="handlePage($event)"
        showFirstLastButtons="false"
      >
      </mat-paginator>
      <mat-list class="image-list">
        <app-image-card *ngFor="let image of (images | slice: lowValue : highValue)"
            [image]="image"
            [buttonName]="buttonName"
            [homePage]="homePage">
        </app-image-card>
      </mat-list>
    </div>
    <ng-template #empty>
      <span class="empty">
        No images here. Would you try to search for anything else?
      </span>
    </ng-template>
  </div>
</div>
